<div class="header" style="margin: 10px 0; padding-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-offset-6 centered">
        <button class="btn btn-primary" ng-click="apiBarCtrl.testSoap()">New API</button>
        <button class="btn btn-primary">Edit API</button>
        <button class="btn btn-danger">Delete API</button>
      </div>
      <div class="col-sm-6">
        <select name="api" id="api" class="form-control">
          <option value="">-- Select one --</option>
          <option value="oa">Opera Australia</option>
        </select>
      </div>
    </div>
  </div>
</div>
